<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    使用spring来创建对象,都称为bean-->
    <bean id="mysqlImpl" class="UserDaoMysqlImpl"/>
    <bean id="userDaoImpl" class="UserDaoImpl"/>
    <bean id="userServiceImpl" class="UserServiceImpl">
        <property name="userDao" ref="mysqlImpl"/>
    </bean>
</beans>