<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        <context:annotation-config/>
        <!--
         byName:会自动在容器上下文中查找,和自己对象set后面值对应的beanId(Id唯一 )
         byType:会自动在容器上下文中查找,和自己对象属性类型相同的bean(所以要保证类型唯一)
         -->
<!--        <bean id="people" class="People" autowire="byName">-->
<!--                <property name="name" value="龙世春"/>-->
<!--                <property name="cat" ref="cat"/>-->
<!--                <property name="dog" ref="dog"/>-->
<!--        </bean>-->
        <!-- 使用自动装配可以不依赖于set方法注入       -->
        <bean id="cat" class="Cat"/>
        <bean id="dog" class="Dog"/>
        <bean id="people" class="People"/>
</beans>